

body {
    background:white;
  }
    
  
  p { font-size: 23px;
  color: black;
  font-size: 5rem;
  }
  
  .animated-text {
    
   font-family: "arial";
  overflow: hidden;
   height:1.1em;
   word-wrap: break-word;
   white-space: wrap;
   animation: typing 15s infinite;
    animation-duration: 5s;

  }

  
  @keyframes typing {
    from { 
      width: 0;
    }
    to { 
      width: 100%;
    }
   
  }
  .padas {
    display: flex;
    flex-wrap: nowrap;
    
    padding-left: 100px;
    padding-right: 100px;
    background-color: #45B34C;
   
    justify-content: center;
    margin-top: 150px;
  }
  

  :root {
    --color-1: #FF9300;
    --color-2: #FF0000;
    --color-3: #7DEDFF;
    --color-4: #e83611;
    --color-5: #88FFF7;
  }
  
  body{
    background-color:#45B34C;
    margin:0;
    padding:0;
    overflow-x: hidden;
  }
  
  .navbar{
    display:flex;
    justify-content:space-between;
    background-color:#CAE439;
    color:white; 
    font-family: 'Noto Sans Mono', monospace;
  }
  
  .nav-name{
    font-size:1.5rem;
    margin: 0;
    padding-top: 8px;
    transition: ease all .5s;
    font-weight:700;
  }

  .resizeBG {
    width: 70px;
    padding-left: 100px;
  }
  
  .nav-links ul{
    margin:0;
    padding:0;
    display:flex;
    
  }
  .nav-links li{
    list-style:none;
    transition: 0.3s;
    margin:.5rem;
    
  }
  .nav-links li a{
    text-decoration:none;
    color:rgb(0, 0, 0);
    padding:1rem;
    display:block;
    font-size:1rem;
    font-weight: 700;
   }
  .nav-links li:hover{
    background-color:#45B34C;
    border-radius:10px;
    transform:scale(1.1,1.1);
    opacity:1;
    letter-spacing: 8px;
  }
  .toggle-button{
    position:absolute;
    right:.5rem;
    font-size:2rem;
    color:white;
    /* display:none; */
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    margin:1.2rem; 
    transition:1.5s ease;
  }
  .toggle-button:hover{
    transform:scale(1.1,1.3);
  }
  .button {
    text-align: center;
    padding-top: 50px;
  }
  .buttonHere {
    color: #45B34C;
    background-color: #CAE439;
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 20px;
    transition: .5s;
  }
  .buttonHere:hover {
    transform: scale(1.1);
  }
  .ca {
    font-size: 1.5rem;
    text-align: center;
  }
  .footerText {
    font-size: 1.5rem;
    padding-top: 100px;
    padding-left: 50px;
    background-color: black;
    color: white;
    margin-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 0;
  }
  .toClick {
    list-style: none;
    text-decoration: none;
    color: #45B34C;
    
  }
 


  @media screen and (max-width:700px){
    .toggle-button{
      display:flex;

     
    } .nav-name {
      
        align-self: center;
    }  .nav-links{
      /* display:none; */
      width: 100%;
      height: 100%; 
     } .ca {
        font-size: 1rem;
     }
    .navbar{
      flex-direction: column;
      align-items: flex-start ;
      
    }
    .nav-links ul{
      width: 100%;
      display: flex;
      flex-direction: column;
     
    }
    .nav-links li{
      text-align: center;
      display: inline;
    }
    .nav-links.active{
      display:flex;
      flex-wrap: wrap;
      height:100%;
      overflow:hidden;
      animation: slideUp500 1s forwards;
      
    }
     .nav-links.active ul {
      margin:auto;
       overflow:hidden;
    }
     .nav-links.active li a{
       height:18vh;
       display:flex;
       align-items:center;
       justify-content:center;
       font-size:3vh;
       overflow:hidden;
       z-index:99;
    } .atuy {
        width: 150px;
    } .lowerThis {
        width: 100px;
        height: 100px;
    } .padas {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    } .animated-text {
        font-size: 30px;
        width: 100%;
        text-align: center;

    } .atuyman {
        text-align: auto;
        flex-wrap: nowrap;
    } .g {
        width: 100px;
    } .tryThis {
        width: 350px;
        text-align: center;
    } .resizeBG {
        padding-left: 0;
    }
    

    
  @keyframes slideUp500 {
      0%    { transform: translate3d(0,-500px,0)scale(2,2);opacity:0;}
      50%  { opacity:.5; }
      100%  { transform: translate3d(0,0,0)scale(1,1); }
    }
  }